/* .App {
  text-align: center;
} */
body{
  background-color: #001529;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

.gallery-image {
  margin: 0;
  height: 500px;
  color: '#fff';
  line-height: 160px;
  text-align: center;
  background: #364d79,
}
.alternate
{
  background: #364d79;
  color:#fff;
  padding: 20px;
}
.gutter-row
{
   vertical-align: 'center';
   text-align: center;
}
.default-pad
{
  padding-top: 2px;
  padding-bottom: 10px;
}
.gutter-box {
  padding: 8px 0;
  background: #00a0e9;
}
.mission-title
{
  color: '#fff';
  font-size:50px;
  font-weight: bold;
  vertical-align: middle;
}
.mission-description
{
  color: '#fff';
  font-size:15px;
  text-align: center;
}
@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
